# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea
*.iml
out
gen
target
README.md
logs
.settings
/.project
/.apt_generated/
/.classpath
/.factorypath
*/.gitignore
/.gitignore
/logs/
/target/
LOG_HOME_IS_UNDEFINED
/LOG_HOME_IS_UNDEFINED/
log
/log/

/.idea/
.DS_Store
LOG_PATH_IS_UNDEFINEDLOG_FILE_IS_UNDEFINED
